.news-form{
    margin-top: 50px;
    background-color: $mainColor;
    padding: 50px;
    border-radius:5px;
    h1{
        text-align: center;
        
    }
}
.form-btn{
    margin-top: 19px;
}
.news-text{
    background-color: #fff;
    border-radius: 4px;
}
.form-header{
 .header__top{
    padding:  20px;
    p{
        margin-bottom: 0;
    }
 }
}
.form-logo{
    background-color: #afafb1;
    padding: 3px;
    border-radius: 5px ;
}
.form-control{
    height: auto;
    
}
.news .news-item img{
    height: 280px;
}
.news-desc{
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}